img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:85%;
  max-height:85%;
}

img.small{
  max-width:475px;
  max-height:300px;
}

div.fixed{
  position: fixed;
  right: 10px;
  top: 50px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
